{% extends "base.html" %}
{% block content %}


<h1>Käyttäjän {{user_logged_in.username}} vieheet</h1>
<p><a href="{{base_path}}/lure/new" class="btn btn-success">Lisää viehe</a></p>

<!--Taulukko näkyville vain jos on sisältöä-->
{% if lures|length > 0 %}
<table id="luresTable" class="tablesorter table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tyyppi</th>
            <th>Väritys</th>                  
        </tr>
    </thead>

    <tbody>        
        {% for lure in lures %}
        <tr>
            <td><a href="{{base_path}}/lure/{{lure.id}}">{{lure.lurename}}</a></td>
            <td>{{lure.luretype}}</td>
            <td>{{lure.color}}</td>            
        </tr>
        {% endfor %}
    </tbody>    
</table>
{% endif %}
{% endblock %}