{% extends "base.html" %}
{% block content %}


{% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endif %}

<h1>Käyttäjän {{user_logged_in.username}} vieheet</h1>
<p><a href="{{base_path}}/lure/new" class="btn btn-success">Lisää viehe</a></p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tyyppi</th>
            <th>Väritys</th>      
            <th></th>
        </tr>
    </thead>

    <tbody>        
        {% for lure in lures %}
        <tr>
            <td><a href="{{base_path}}/lure/{{lure.id}}">{{lure.lurename}}</a></td>
            <td>{{lure.luretype}}</td>
            <td>{{lure.color}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/lure/{{lure.id}}/edit">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
{% endblock %}