{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<div class="panel">
    <h3><i>Viehe:</i></h3>
    <h1>{{lure.lurename}}</h1>
</div>

<div class="panel">        
    <!--Painikkeet tähän--> 
    <a href="{{base_path}}/lure/{{lure.id}}/edit" class="btn btn-default">Muokkaa</a>
    {{ forms.destroy_button("#{base_path}/lure/#{lure.id}/destroy") }}

    <!--Tiedot tulee listana tähän--> 
    <br><br>    
    <ul>
        <li><strong>Tyyppi:</strong> {{lure.luretype}}</li>
        <li><strong>Väritys:</strong> {{lure.color}}</li>    
    </ul>            

</div>

{% if speciess_counts %}
<h3><i>Saadut kalalajit</i></h3>
{% include '/species/list_fish_counts_with_species.html' %}
{% endif %}


<!-- Saadut kalat -->
{% if fishs|length > 0 %}
<h3><i>Saadut kalat</i></h3>
{% include '/fish/list_fishes.html' %}
{% endif %}
{% endblock %}

