{% extends "base.html" %}
{% block content %}
<h1>Lisää viehe</h1>

<form method="post" action="{{base_path}}/lure">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="lurename" class="form-control">
    </div>

    <div class="form-group">
        <label>Tyyppi</label>
        <input type="text" name="luretype" class="form-control">
    </div>

    <div class="form-group">
        <label>Väritys</label>
        <input type="text" name="color" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}