{% extends "base.html" %}
{% block content %}

{% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endif %}

<h1>Suomalaisia kalalajeja</h1>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Nimi</th>
            <th>Nimi lat.</th>                       
        </tr>
    </thead>

    <tbody>        
        {% for species in speciess %}
        <tr>
            <td><img src='{{base_path}}/assets/pics/{{species.name_fin}}.png' class="img-responsive center-block" width="200" height="200"</td>            
            <td><a href="{{base_path}}/species/{{species.id}}">{{species.name_fin}}</td>
            <td>{{species.name_lat}}</td>                
        </tr>
        {% endfor %}
    </tbody>    
</table>
{% endblock %}