{% extends "base.html" %}
{% block content %}
<h1>Hauki 2,4 kg, Silakkarysä 20.5.2016</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>

<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Ajankohta: </strong>20.5.2016, 10.00 - 14:30</li>
    <li><strong>Pituus: </strong>60</li>
    <li><strong>Pyyntitapa: </strong>Heitto</li>    
    <li><strong>Viehe: </strong>Krokodil, sininen</li>
    <li><strong>Ottisyvyys: </strong>2,0 m</li>
    <li><strong>Lämpötila: </strong>17</li>
    <li><strong>Vesi: </strong>13</li>
    <li><strong>Pilvisyys: </strong>puolipilvistä</li>
    <li><strong>Tuulen nopeus: </strong>8 m/s</li>
    <li><strong>Tuulen suunta: </strong>itä</li>
</ul>

<!-- Kuvaus tulee tähän -->
<h2>Kuvaus</h2>
<p>
    kaislikon reunasta karin jälkeen
</p>


{% endblock %}

