{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän xxx kalat</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Päivämäärä</th>
            <th>Kalalaji</th>
            <th>Pyyntipaikka</th>      
            <th>Paino</th>
            <th>Pituus</th>
            <th>Pyyntitapa</th>
            <th>Viehe</th>
            <th>Ottisyvyys</th>
            <th>Lämpötila</th>
            <th>Vesi</th>
            <th>Pilvisyys</th>
            <th>Tuuli (m/s)</th>
            <th>Tuulen suunta</th>                
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!--listataan kalat-->
        <tr>
            <td>20.5.2016</td>
            <td><a href="#">Hauki</td>
            <td>Silakkarysä</td>
            <td>2,4 kg</td>
            <td>60 cm</td>
            <td>Heitto</td>
            <td>Krokodil, sininen</td>
            <td>2,0 m</td>
            <td>17</td>
            <td>13</td>
            <td>puolipilvistä</td>
            <td>8</td>
            <td>itä</td>
            <td><a class="btn btn-default btn-sm" href="#">Muokkaa</a></td>
        </tr>
    </tbody>    
</table>
{% endblock %}