{% extends "base.html" %}
{% block content %}
<h1>Silakkarysä</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>


<!-- Kuvaus tulee tähän -->
<h2>Kuvaus</h2>
<p>
    ---
</p>

<!-- Saadut kalat -->
<h2>Paikasta Silakkarysä saadut kalat</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kala</th>
            <th>Paino</th>
            <th>Päivämäärä</th>
            <th>Kellonaika</th>
            <th>Pyyntitapa</th>                       
        </tr>
    </thead>

    <tbody>
        <!-- Listataan kalat tähän -->
        <tr>
            <td><a href="#">Hauki</a></td>
            <td>2,4 kg</td>
            <td>20.5.2016</td>    
            <td>10.00 - 14.30</td>
            <td>Heitto</td>        
        </tr>
    </tbody>
</table>
{% endblock %}

