{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän xxx kalapaikat</h1>

<p>
    <a href="#" class="btn btn-success">Lisää kalapaikka</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>      
            <th>Kaloja</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!--listataan kalapaikatt-->
        <tr>
            <td><a href="#">Silakkarysä</td>
            <td>---</td>
            <td>1 kpl</td>
            <td><a class="btn btn-default btn-sm" href="#">Muokkaa</a></td>
        </tr>
    </tbody>    
</table>
{% endblock %}