{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h3><i>Kalareissu:</i></h3>
<h1>{{trip.tripday}} {{trip.tripname}}</h1>
<!-- Painikkeet tähän -->
<a href="{{base_path}}/trip/{{trip.id}}/edit" class="btn btn-default">Muokkaa</a>
{{ forms.destroy_button("#{base_path}/trip/#{trip.id}/destroy") }}


<!-- Tiedot tulee listana tähän -->
<p></p>
<ul>    
    <li><strong>Aloitus:</strong> {{trip.start_time}}</li>    
    <li><strong>Lopetus:</strong> {{trip.end_time}}</li>
    <li><strong>Lämpötila:</strong> {{trip.temperature}}</li>
    <li><strong>Veden lämpötila:</strong> {{trip.water_temperature}}</li>
    <li><strong>Pilvisyys:</strong> {{trip.clouds}}</li>
    <li><strong>Tuulen nopeus:</strong> {{trip.wind_mps}}</li>
    <li><strong>Tuulen suunta:</strong> {{trip.wind_direction}}</li>
</ul>

<!-- Kuvaus tulee tähän -->
{% if trip.description %}
<h3><i>Kuvaus:</i></h3>
<p>{{trip.description}}</p>
{% endif %}

<!-- Saadut kalat -->
{% if fishs|length > 0 %}
<h3><i>Saadut kalat</i></h3>
{% include '/fish/list_fishes.html' %}
{% endif %}

{% endblock %}

