{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}


<h3><i>Kalapaikka:</i></h3>
<h1>{{spot.spotname}}</h1>


<!-- Painikkeet tähän -->
<p></p>
<a href="{{base_path}}/spot/{{spot.id}}/edit" class="btn btn-default">Muokkaa</a>
{{ forms.destroy_button("#{base_path}/spot/#{spot.id}/destroy") }}

{% if spot.description %}
<h3><i>Kuvaus</i></h3>
<p>{{spot.description}}</p>      
{% endif %}




<!-- Saadut kalat -->
{% if fishs|length > 0 %}
<h3><i>Saadut kalat</i></h3>
{% include '/fish/list_fishes.html' %}
{% endif %}
{% endblock %}
