{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Muokkaa kalaa</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/fish/{{attributes.id}}/edit">

    <div class="form-group">
        <label>Kalareissu</label>
        <select name="trip_id" class="form-control">
            {% if (not attributes.trip_id) %}        
            <option value"noselection">Valitse</option>
            {% endif %}

            {% for trip in trips %}    
            {% if trip.id == attributes.trip_id %}
            <option value="{{trip.id}}" selected>{{trip.tripday}} {{trip.tripname}}</option>
            {% else %}                       
            <option value ="{{trip.id}}">{{trip.tripday}} {{trip.tripname}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Kalalaji</label>
        <select name="species_id" class="form-control">
            {% if (not attributes.species_id) %}        
            <option value"noselection">Valitse</option>
            {% endif %}

            {% for species in speciess %}            
            {% if species.id == attributes.species_id %}
            <option value ="{{species.id}}" selected>{{species.name_fin}}</option>
            {% else %}
            <option value ="{{species.id}}">{{species.name_fin}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Kalapaikka</label>
        <select name="spot_id" class="form-control">
            {% if (not attributes.spot_id) %}        
            <option value"noselection">Valitse</option>
            {% endif %}
            
            {% for spot in spots %}            
            {% if spot.id == attributes.spot_id %}
            <option value ="{{spot.id}}" selected>{{spot.spotname}}</option>
            {% else %}
            <option value ="{{spot.id}}">{{spot.spotname}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Viehe</label>
        <select name="lure_id" class="form-control">
            {% if (not attributes.lure_id) %}        
            <option value"noselection">Valitse</option>
            {% endif %}
            
            {% for lure in lures %}            
            {% if lure.id == attributes.lure_id %}
            <option value ="{{lure.id}}" selected>{{lure.lurename}}</option>
            {% else %}
            <option value ="{{lure.id}}">{{lure.lurename}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Paino (kg)</label>
        <input type="number" name="weight" class="form-control" value="{{ attributes.weight }}">
    </div>

    <div class="form-group">
        <label>Pituus (cm)</label>
        <input type="number" name="length_cm" class="form-control" value="{{ attributes.length_cm }}">
    </div>

    <div class="form-group">
        <label>Kalastustapa</label>
        {{ forms.constant_value_selector("fishing_method", attributes.fishing_method, fishingmethods, "Valitse kalastustapa") }}
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <input type="text" name="fish_description" class="form-control" value="{{ attributes.fish_description }}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}